<div class="table">
    <div class="table__top">
        <div class="table__col">
            <div class="table__num">
                №
            </div>
        </div>
        <div class="table__col">
            Название документа
        </div>
        <div class="table__col">
            <div class="table__col-row">
                Стоимость
            </div>
        </div>
    </div>

    <details class="table__block datails" open>
        <summary>
            <h4 class="details__label h4">
                Предмет доказывания и способы доказывания заявленных требований
            </h4>
        </summary>

        

        
            <a href="./templates/buy-doc-modal.html" class="popup-modal-ajax table__item ">
                <span class="table__col">
                    <span class="table__num">
                        1
                    </span>
                </span>
                <span class="table__col">
                    Иск о присуждении (взыскании)
                </span>
                <span class="table__col">
                    <span class="table__col-row">
                        <span class="table__price">
                            1 700 руб
                        </span>
                        
                              <span class="table__act">
                                Купить
                            </span>
                        
                    </span>
                </span>
            </a>
        
            <a href="./templates/buy-doc-modal.html" class="popup-modal-ajax table__item ">
                <span class="table__col">
                    <span class="table__num">
                        2
                    </span>
                </span>
                <span class="table__col">
                    Иск о присуждении (понуждении в натуре)
                </span>
                <span class="table__col">
                    <span class="table__col-row">
                        <span class="table__price">
                            1 700 руб
                        </span>
                        
                              <span class="table__act">
                                Купить
                            </span>
                        
                    </span>
                </span>
            </a>
        
            <a href="./templates/buy-doc-modal.html" class="popup-modal-ajax table__item ">
                <span class="table__col">
                    <span class="table__num">
                        3
                    </span>
                </span>
                <span class="table__col">
                    Иск о признании (понуждении в натуре)
                </span>
                <span class="table__col">
                    <span class="table__col-row">
                        <span class="table__price">
                            1 700 руб
                        </span>
                        
                              <span class="table__act">
                                Купить
                            </span>
                        
                    </span>
                </span>
            </a>
        
            <a href="./templates/buy-doc-modal.html" class="popup-modal-ajax table__item ">
                <span class="table__col">
                    <span class="table__num">
                        4
                    </span>
                </span>
                <span class="table__col">
                    Иск об оспаривании
                </span>
                <span class="table__col">
                    <span class="table__col-row">
                        <span class="table__price">
                            1 700 руб
                        </span>
                        
                              <span class="table__act">
                                Купить
                            </span>
                        
                    </span>
                </span>
            </a>
        
            <a href="./templates/buy-doc-modal.html" class="popup-modal-ajax table__item ">
                <span class="table__col">
                    <span class="table__num">
                        5
                    </span>
                </span>
                <span class="table__col">
                    Встречный иск
                </span>
                <span class="table__col">
                    <span class="table__col-row">
                        <span class="table__price">
                            1 700 руб
                        </span>
                        
                              <span class="table__act">
                                Купить
                            </span>
                        
                    </span>
                </span>
            </a>
        
    </details>
</div>