<div class="modal" id="modal-info-online-constructor">
	<div class="modal__top">
		<h3 class="modal__heading h2">
			<svg class="modal__heading-icon i-icon">
				<use href="#icon-info"></use>
			</svg>
			Информация
		</h3>
	</div>
	<div class="modal__body">
		<div class="modal__text">
			<p>
				Сегодня, каждый коммерсант (ИП или юр. лицо) может столкнуться с риском неплатежа, его просрочкой,
				допущенными Вашим дебитором в рамках заключенного между вами договора.

			</p>
			<p>
				В таком случае денежная задолженность этого дебитора (далее – дебиторская задолженность, ДЗ) является
				источником Вашего кассового разрыва, когда Вы, не получив от него оплату полностью и своевременно, по
				сути кредитуете его, при этом вынуждены закрывать этот временной недостаток у себя в оборотных средствах
				за счет оборотных кредитов, овердрафта, кредитной линии.

			</p>
			<p>
				Возможность перекрыть банковский процент за счет неустойки с дебитора или вернуть овердрафтный кредит в
				беспроцентный период за счет взыскания ДЗ с Вашего дебитора позволяет исключить риски образования убытка
				по итогам договорных отношений с таким дебитором.

			</p>
			<p>
				Таким образом, время и срок в тех случаях, когда дебитор признает ДЗ перед Вами в акте сверки,
				подписанием актов приема-передачи, оказанных услуг, выполненных работ и т.п. первичных документов учета,
				а также в переписке (конкретно в привязке к периодам и названиям первичных документов) имеют решающее
				значение для Вас.

			</p>
			<p>
				Действующим законодательством предусмотрено взыскание судом с дебитора признаваемой им ДЗ:

			</p>
			<p>
				- в рамках заявления о выдаче судебного приказа (при размере требований к дебитору не более, чем 500
				000,00 руб.),

			</p>
			<p>
				- в рамках искового заявления, рассматриваемого в упрощенном порядке (не зависимо от размера требований,
				превышающих 500 000,00 руб.).

			</p>
			<p>
				При этом законодательством предусмотрены различия при предъявлении и рассмотрении таких требований.

			</p>
			<p>
				Так, при подаче заявления о выдаче судебного приказа:

			</p>
			<p>
				- не допускается взыскание открытых процентов, неустоек (т.е. с определенной даты по день оплаты
				основного долга), в связи с чем размер заявляемых требований ограничен твердой суммой,

			</p>
			<p>
				- не требуется соблюдение претензионного порядка,

			</p>
			<p>
				- не требуется извещение судом дебитора о факте рассмотрения такого заявления,

			</p>
			<p>
				- при рассмотрении судом этого заявления дебитор не может заявить к Вам встречный иск,

			</p>
			<p>
				- заявление рассматривается судом 5 рабочих дней и в случае удовлетворения судом выдается судебный
				приказ, который направляется дебитору. Тот в свою очередь в течение 10 рабочих дней с момента получения
				такого приказа может возразить в отношении его исполнения. В отсутствие таких возражений судом Вам
				выдается судебный приказ с отметкой о вступлении в законную силу.

			</p>
			<p>
				- судебный приказ является исполнительным документом, т.е. может быть предьявлен для списания по инкассо
				к счетам дебитора в одном из обслуживающих его банков,

			</p>
			<p>
				- но, суд не проверяет обоснованность доводов дебитора в возражениях по исполнению судебного приказа и
				отменяет его при наличии одних лишь таких возражений.

			</p>
			<p>
				В свою очередь, исковое заявление при рассмотрении в упрощенном порядке:

			</p>
			<p>
				- допускает взыскание открытых процентов и неустоек, а также не ограничивает Вас по сумме и периоду
				взыскания ДЗ с дебитора,

			</p>
			<p>
				- требует соблюдение претензионного порядка,

			</p>
			<p>
				- требует извещение судом дебитора о факте (времени и месте) рассмотрения такого заявления,

			</p>
			<p>
				- при рассмотрении судом этого заявления дебитор может заявить любой встречный иск, включая по спорным
				требованиям, что существенно ограничит или исключит эффективность этого заявления (т.к. возможен
				судебный зачет по двум искам, и существенно возрастет срок рассмотрения дела в судах первой и
				апелляционной инстанций),

			</p>
			<p>
				- заявление рассматривается судом первой инстанции в течение 2 календарных месяцев при отсутствии
				оснований счесть взыскиваемые требования спорными, а дебитора не извещенным о судебном процессе и при
				отсутствии с его стороны встречного иска,

			</p>
			<p>
				- суд проверяет доводы Вашего иска о бесспорности требований и дебитор не сможет поставить под сомнение
				это (процессуальный эстоппель), если только обосновывающие требования документы со стороны дебитора не
				подписало неуправомоченное или неуполномоченное им лицо, а сами документы не являются фиктивными.

			</p>
			<p>
				В связи с этим обычно дробят требования по сумме, чтобы их подать в приказном порядке.

			</p>
			<p>
				С другой стороны, в приказном порядке редки случаи отмены судом приказа, а в упрощенном порядке редки
				случаи перехода в общеисковой порядок рассмотрения дела (при котором дело будет рассмотрено в больший,
				чем 2-месячный срок).

			</p>
			<p>
				При перечисленных обстоятельствах, мы предлагаем Вам онлайн-конструктор заявлений о выдаче судебного
				приказа и исковых заявлений о взыскании признаваемой Вашим дебитором ДЗ.

			</p>
			<p>
				В отличие от других конструкторов, созданный нами алгоритм сам:

			</p>
			<p>
				- произведет расчет размера основного долга и (или договорной или законной неустойки),

			</p>
			<p>
				- произведет расчет госпошлины за подачу этого заявления в суд,

			</p>
			<p>
				- определит подсудность заявления.

			</p>
			<p>
				Вам необходимо только заполнить нижеприведенные пустые поля и поставить галочки там, где это
				соответствует Вашей ситуации (при этом обращайте внимание на примечания к некоторым пунктам
				нижеприводимых вопросов).

			</p>
			<p>
				<b class="text-blue">Стоимость составления одного заявления составляет 1 400 руб.</b>

			</p>
			<p>
				<b>После оплаты программа составляет одно заявление в соответствии с Вашими ответами.</b>

			</p>
			<p>
				<b>
					Составленное заявление сохраняется в формате Microsoft Word и направляется не позднее дня Вашего
					обращения на указанную Вами электронную почту.
				</b>

			</p>
			
			<br>

			<p>
				ООО «Арбитр-консалт+» не несет ответственности за неправильное (не то, как Вы имели действительно в
				виду) составление оплаченного Вами заявления, если это является следствием допущенных Вами ошибок в
				выборе вида заявления, в написании Ваших реквизитов и реквизитов Вашего дебитора, иных допущенными Вами
				при ответе смысловых и арифметических ошибок.

			</p>
			<p>
				В таком случае произведенная Вами оплата обратно не возвращается, поскольку мы гарантируем правильное
				составление заявления о выдаче судебного приказа (искового заявления) только исходя из тех данных,
				которые указаны Вами.

			</p>
			<p>
				В связи с этим просим внимательно подойти к ответу на приведенные ниже вопросы.

			</p>
			<p>
				По умолчанию алгоритм самостоятельно рассчитает сумму неустойки за просрочку оплаты бесспорной ДЗ и
				укажет ее в составляемом заявлении.

			</p>
			<p>
				Если для Вашего случая ни договором, ни законом не предусмотрена неустойка, то Вы должны выбрать третий
				вариант в пункте 7 и алгоритм составит расчет только основного долга (на дату расчета).

			</p>
			<p>
				Данное заявление с приложением Вы подаете в суд (который будет указан вверху справа на 1 странице
				заявления) нарочно или по Моему арбитру.

			</p>
			<p>
				Если Вы выбрали составить исковое заявление, то его Вы подаете в суд только по истечении тридцати
				календарных дней со дня направления претензии на адрес Вашего дебитора, указанный в ЕГРЮЛ или ЕГРИП (в
				зависимости от того, кем является дебитор – юр. лицом или ИП).

			</p>
			<p>
				В соответствии с абз. 3 п. 63 и п. 67 постановления Пленума Верховного Суда РФ от 23.06.2015 № 25
				дебитор несет риск последствий неполучения юридически значимых сообщений, доставленных по указанному
				адресу, а также риск отсутствия на этом адресе своего представителя. В данных случаях юридически
				значимое сообщение считается доставленным.

			</p>
			<p>
				При несоблюдении Вами претензионного порядка (не направлении претензии при подаче иска или не
				выдерживании 30-дневного срока после направления претензии) исковое заявление оставляется судом без
				рассмотрения.

			</p>
			<p>
				В этом случае Вы можете заново подать тот же иск, но после соблюдения претензионного порядка.

			</p>
			<p>
				Правила о претензионном порядке не применяются к заявлению о выдаче судебного приказа (о чем было
				сказано ранее), в связи с чем его Вы можете подать в суд хоть в день, когда Вам от нас поступит готовое
				указанное заявление.

			</p>

			<br>

			<p>
				Обращаем Ваше внимание на то, что в случаях, когда:

			</p>
			<p>
				- Вы не заключили с дебитором договор, а вступили в договорные отношения осуществлением конклюдентных
				действий (отгрузка товара (иное в натуре), оплата, осуществленные в ходе переписки, т.е. так называемые
				разовые сделки),

			</p>
			<p>
				- в Вашем договоре с дебитором отсутствует договорная неустойка, а законом не предусмотрена для Вашего
				случая законная неустойка и Вы просите взыскать с дебитора проценты за пользование чужими денежными
				средствами,

			</p>
			<p>
				- дебитор с Вами не согласен по разнесению платежей (имеет место переназначение оплаты по письмам
				дебитора в банк или в Ваш адрес),

			</p>
			<p>
				- взыскиваемая ДЗ была зачтена соглашением о взаимозачете или в уведомлении об одностороннем зачете (а
				также, когда идет спор между Вами и дебитором относительно чей зачет состоялся, если имеет место зачет
				одной и той же ДЗ с двух сторон),

			</p>
			<p>
				- Вы просите взыскать ДЗ одновременно с нескольких солидарных (в т.ч. должника и поручителя) или
				субсидиарных должников (казенного учреждения и собственника его имущества),

			</p>
			<p>
				данный алгоритм не производит расчет заявляемых требований (в виду спорности) и для составления иска об
				их взыскании Вы можете обратиться непосредственно к нам. Стоимость иска определяется в данном случае в
				зависимости от ситуации.

			</p>
		</div>
	</div>
</div>