<div class="modal" id="modal-info-repr">
    <div class="modal__top">
        <h3 class="modal__heading h2">
        	<svg class="modal__heading-icon i-icon">
                <use href="#icon-info"></use>
            </svg>
            Информация
        </h3>
    </div>
    <div class="modal__body">
        <div class="modal__text">
        	<p>
        		ООО «Арбитр-консалт+» оказывает весь перечень юридических услуг в сфере арбитражного и конституционного судопроизводства вне зависимости от сложности вопроса, наличия судебной практики.
        	</p>
        	<p>
        		Целью данных услуг является достижение Вашего интереса, восстановление Ваших прав.
        	</p>
        	<p>
        		Качество такой работы определяется глубоким анализом ситуации и проработкой различных вариантов достижения указанной цели.
        	</p>
        	<p>
        		От этого зависит результат. 
        	</p>
        	<p>
        		Для ускорения его достижения и формирования положительной практики мы можем написать проект решения суда первой инстанции.
        	</p>
        	<p>
        		Стоимость юридических услуг во многом не определяет результат, определяет его продуманный и здравый алгоритм действий во времени.
        	</p>
        	<p>
        		В связи с чем стоимость услуг ООО «Арбитр-консалт+», приводимая в Таблице ниже, зависит от Ваших обстоятельств, интереса и сложности его достижения.
        	</p>
        	<p>
        		По креативным (прецедентным и нестандартным) спорам стоимость наших услуг определяется как согласованный % от стоимости Вашего интереса.
        	</p>
        	<p>
        		Делая свою работу качественно, мы не смотрим на то, сколько она будет в итоге стоить. 
        	</p>
        	<p>
        		Для нас главное – обеспечить реальную и эффективную защиту Ваших прав, ведь именно для этого Вы к нам и обращаетесь.
        	</p>
        	<p>
        		Поэтому Вы можете выбрать различный вариант оплаты данных услуг – почасовую, путем калькуляции стоимости отдельных действий (услуг) или смешанную.
        	</p>
        	<p>
        		В стоимость услуг ООО «Арбитр-консалт+», особенно по сложным, практикообразующим (прецедентным), нестандартным делам входит гонорар успеха, размер которого зависит от трудности решения Вашего вопроса.
        	</p>
        	<p>
        		Размер гонорара успеха составляет до 5 % от размера удовлетворенных Ваших требований, и до 3 % от размера отказанных требований к Вам при их спорности и сложности работы по таким требованиям.
        	</p>
        	<p>
        		Оплату гонорара успеха Вы можете произвести уступкой нам в эквивалентном размере сумм неустоек, процентов за пользование чужими денежными средствами, подлежащих к получению с Ваших платежеспособных дебиторов по периодам с не истекшей исковой давностью.
        	</p>
        	<p>
        		В стоимость услуг ООО «Арбитр-консалт+» не входят, но подлежат обязательному авансированию с Вашей стороны транспортные расходы в суд (туда и обратно), а также расходы на проживание специалиста, занимающегося Вашим вопросом (размер определяется по договоренности исходя из срочности).
        	</p>
        	<p>
        		Указанные судебные расходы (на представителя, транспортные и на проживание) будут взысканы по факту с проигравшей стороны.
        	</p>
        	<p>
        		Услуга начинает оказываться сразу после ее полной оплаты по реквизитам ООО «Арбитр-консалт+» (см. первую страницу сайта), что просим учесть при срочности решения Вашего вопроса.
        	</p>
        	<p>
        		Если остались еще вопросы Вы можете их задать по телефону или написав на <a href="mailto:info@mail.ru" class="link link--underline">электронную почту</a>. 
        	</p>
        </div>
    </div>
</div>