<div class="offer">
    <div class="offer__title">
        Покупайте по умному! Выгодно
    </div>
    <div class="offer__items">
        <div class="offer__item">
            <div class="offer__item-title">
                Возможность указания в заявлении нескольких солидарных должников
            </div>
            <a href="#" class="offer__item-link">СОСТАВИТЬ исковое заявление в арбитражный суд <span>за 999 руб.</span></a>
        </div>
        <div class="offer__item">
            <div class="offer__item-title">
                Расчет пени / процентов по ст. 395 ГК РФ
            </div>
            <a href="#" class="offer__item-link">ВЫНЕСТИ судебный приказ для мирового судьи <span>за 339 руб.</span></a>
        </div>
    </div>
</div>