







    <details class="video-library-detail details" open> 
        <summary>
            <h4 class="details__label h4">
                Заседания Конституционного Суда
            </h4>
        </summary>

        
            <details class="video-library-block details details--no-arrow">
                <summary>
                    <h5 class="details__label video-library-block__title h6">
                        1. Заверения и гарантии по английскому, немецкому и французскому праву
                    </h5>
                </summary>

                <div class="video-library-items">
                    
                        <a data-fancybox href="https://www.youtube.com/watch?v=GXoEpNjgKzg" class="video-library-item ">
                            <figure class="video-library-item__image">
                                <img class="lazyload" data-src="./images/video-item-1.png" alt="Видео (часть 1)">

                                
                                    <div class="video-library-item__icon">
                                        <svg class="i-icon">
                                            <use xlink:href="#icon-play"></use>
                                        </svg>
                                    </div> 	
                                
                            </figure>
                            <div class="video-library-item__info">
                                <p class="video-library-item__title">
                                    Видео (часть 1)
                                </p>
                                
                            </div>
                        </a>
                    
                </div>
            </details>
        
    </details>
