<fieldset 
  data-form-field-visible='{
    "statement-type": ["doc1"],
    "consumer-protection-claim": ["no"],
    "requirements": ["7.2", "7.3", "9.2", "9.3"]
  }'
  class="constructor__block"
>
  <div class="flex-wrap ga-12 items-center mb-title">
    <legend class="h4 mb-0">3.6. В связи с указанным нарушением контрагент должен вернуть сумму -</legend>
    <label class="constructor__label-row flex-nowrap flex-1">
      <input
        type="number"
        name="counterparty-violation-sum"
        data-input-required
        class="form-input w-200px min-w-100px"
      />
      <span class="constructor__label-text constructor__label-text--right fs-15">руб.</span>
    </label>
  </div>
  <div class="constructor__item">
    <b class="constructor__bold-label">Требование о возврате денежных средств в связи с этим нарушением:</b>
    <div class="constructor__row">
      <div class="constructor__col">
        <label class="radio radio--lg">
          <input
            class="radio__input"
            type="radio"
            name="counterparty-violation-requirement"
            value="0"
            checked
          />
          <span class="radio__emulator">
            <svg class="radio__icon i-icon">
              <use xlink:href="#icon-check"></use>
            </svg>
          </span>
          <span class="radio__label">контрагенту не направлялось</span>
        </label>
      </div>
    </div>
    <div class="constructor__row">
      <div class="constructor__col">
        <div class="constructor__flex-gap items-start">
          <label class="radio radio--lg">
            <input
              class="radio__input"
              type="radio"
              name="counterparty-violation-requirement"
              value="1"
            />
            <span class="radio__emulator">
              <svg class="radio__icon i-icon">
                <use xlink:href="#icon-check"></use>
              </svg>
            </span>
            <span class="radio__label">было получено контрагентом</span>
          </label>
          <div 
            data-form-field-visible='{
              "counterparty-violation-requirement": ["1"]
            }'
            class="constructor__col--grow-2"
          >
            <input
              name="counterparty-violation-requirement-date"
              class="form-input w-200px"
              placeholder="00.00.0000" 
              data-input-date="d.m.Y"
              data-input-required
            />
            <cite class="note">введите дату получения им вашей претензии</cite>
          </div>
        </div>
      </div>
    </div>
    <div
      data-form-field-visible='{
        "counterparty-violation-requirement": ["1"]
      }' 
      class="constructor__row"
    >
      <div class="constructor__col">
        <div class="constructor__label-row constructor__label-cite">
          <div class="constructor__label-text">
            Отведенный контрагенту срок для возврата вам полученных средств вышел
          </div>
          <div>
            <input
              name="counterparty-violation-term-date"
              class="form-input w-200px"
              placeholder="00.00.0000" 
              data-input-date="d.m.Y"
              data-input-required
            />
            <cite class="note">введите дату</cite>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<fieldset 
  data-form-field-visible='{
    "statement-type": ["doc1"],
    "consumer-protection-claim": ["no"],
    "requirements": ["9.2"]
  }'
  class="constructor__block"
>
  <legend class="h4 constructor__block-title">3.6.1. Причинами, по которым предмет аренды не мог использоваться в соответствии с условиями договора, являются:</legend>
  <div class="constructor__item">
    <div class="constructor__row">
      <div class="constructor__col">
        <label class="radio radio--lg">
          <input
            class="radio__input"
            type="radio"
            name="counterparty-violation-non-usage-reasons"
            value="1"
            checked
          />
          <span class="radio__emulator">
            <svg class="radio__icon i-icon">
              <use xlink:href="#icon-check"></use>
            </svg>
          </span>
          <span class="radio__label">необходимость капитального ремонта арендованного имущества</span>
        </label>
      </div>
    </div>
    <div class="constructor__row">
      <div class="constructor__col">
        <label class="radio radio--lg">
          <input
            class="radio__input"
            type="radio"
            name="counterparty-violation-non-usage-reasons"
            value="2"
          />
          <span class="radio__emulator">
            <svg class="radio__icon i-icon">
              <use xlink:href="#icon-check"></use>
            </svg>
          </span>
          <span class="radio__label">
            уклонение арендодателя от предоставления арендатору исправного предмета аренды
          </span>
        </label>
      </div>
    </div>
    <div class="constructor__row">
      <div class="constructor__col">
        <label class="radio radio--lg">
          <input
            class="radio__input"
            type="radio"
            name="counterparty-violation-non-usage-reasons"
            value="3"
          />
          <span class="radio__emulator">
            <svg class="radio__icon i-icon">
              <use xlink:href="#icon-check"></use>
            </svg>
          </span>
          <span class="radio__label">
            изменение целевого назначения / разрешенного использования земельного участка / здания
          </span>
        </label>
      </div>
    </div>
    <div class="constructor__row">
      <div class="constructor__col">
        <label class="radio radio--lg">
          <input
            class="radio__input"
            type="radio"
            name="counterparty-violation-non-usage-reasons"
            value="4"
          />
          <span class="radio__emulator">
            <svg class="radio__icon i-icon">
              <use xlink:href="#icon-check"></use>
            </svg>
          </span>
          <span class="radio__label">
            отсутствие доступа к арендованному имуществу, обязанность предоставления которого возложена договором на
            арендодателя
          </span>
        </label>
      </div>
    </div>
    <div class="constructor__row">
      <div class="constructor__col constructor__col--full">
        <div class="constructor__flex-gap items-start">
          <label class="radio radio--lg">
            <input
              class="radio__input"
              type="radio"
              name="counterparty-violation-non-usage-reasons"
              value="5"
            />
            <span class="radio__emulator">
              <svg class="radio__icon i-icon">
                <use xlink:href="#icon-check"></use>
              </svg>
            </span>
            <span class="radio__label">другая причина, а именно</span>
          </label>
          <div 
            data-form-field-visible='{
              "counterparty-violation-non-usage-reasons": ["5"]
            }'
            class="constructor__col--grow-2"
          >
            <input
              name="counterparty-violation-non-usage-reasons-other"
              class="form-input"
              data-input-required
            />
            <cite class="note">указать в чем она заключается </cite>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<fieldset 
  data-form-field-visible='{
    "statement-type": ["doc1"],
    "consumer-protection-claim": ["no"],
    "requirements": ["9.3"]
  }'
  class="constructor__block"
>
  <legend class="h4 constructor__block-title">3.6.2. Неотделимые улучшения арендованного имущества произведены с согласия арендодателя, выраженного в</legend>
  <div class="constructor__item">
    <div class="constructor__row">
      <div class="constructor__col constructor__col--full">
        <input
          name="counterparty-violation-renovation-agreement"
          class="form-input"
          data-input-required
        />
        <cite class="note">
          указажите название и дату документа, в котором арендодатель согласился на такие улучшения за счет арендатора
        </cite>
      </div>
    </div>
  </div>
</fieldset>