<fieldset 
  data-form-field-visible='{
    "consumer-protection-claim": ["yes"],
    "statement-type": ["doc1"],
    "claim-cause": ["val1"]
  }'
  class="constructor__block"
>
    <div class="flex-wrap ga-12 mb-title">
        <legend class="h4 mb-0">
            3.13. Факт приобретения товара у данного лица подтверждается 
        </legend>
        <div class="file-attacher" data-file-attacher>
            <input 
                id="seller-purchase-verification-file" 
                accept=".pdf" 
                type="file" 
                name="seller-purchase-verification-file" 
                data-file-attacher-input
                data-input-required
                class="file-attacher__input" 
            />
            <label class="file-attacher__btn-text" for="seller-purchase-verification-file" data-file-attacher-add-btn>
                <svg class="i-icon">
                    <use xlink:href="#icon-file"></use>
                </svg>
                <span>Прикрепить файл </span>
            </label>
            <cite class="note">загрузите скан кассового чека или договора в формате pdf</cite>
            <ul class="file-attacher__list" data-file-attacher-file-list></ul>
        </div>
    </div>
    <div class="constructor__item">
        <div class="constructor__row">
            <div class="constructor__col constructor__col--full">
                <div class="constructor__label-text-row">
                    Недостатками товара, 
                    <b><i>не оговоренными</i></b> 
                    в договоре и возникшими 
                    <b><i>до передачи</i></b> 
                    товара потребителю, являются:
                </div>
                <input name="seller-purchase-verification-defects" data-input-required class="form-input" />
                <cite class="note">перечислить такие недостатки</cite>
            </div>
        </div>
        <div class="constructor__row">
            <div class="constructor__col constructor__col--full">
                <div class="constructor__label-text-row">
                    Наличие таких недостатков и их производственный 
                    <b><i>(неэксплуатационный)</i></b> 
                    характер возникновения подтверждаются
                </div>
                <input name="seller-purchase-verification-defects-reasons" data-input-required class="form-input" />
                <cite class="note">указать название и реквизиты заключения / акта обследования и название органиации (ФИО специалиста), его составившего</cite>
            </div>
        </div>
        <b class="constructor__light-label">
            Из-за этих недостатков товара:
        </b>
        <div class="constructor__row">
            <div class="constructor__col">
              <label class="radio radio--lg">
                <input
                  class="radio__input"
                  type="checkbox"
                  name="seller-purchase-verification-defects-impossible"
                  value="true"
                  checked
                />
                <span class="radio__emulator">
                  <svg class="radio__icon i-icon">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
                <span class="radio__label">дальнешая его эксплуатация (использование по назначению) невозможны или небезопасны</span>
              </label>
            </div>
        </div>
        <div class="constructor__row">
            <div class="constructor__col constructor__col--full">
              <div class="constructor__flex-gap items-start">
                <label class="radio radio--lg">
                  <input
                    class="radio__input"
                    type="checkbox"
                    name="seller-purchase-verification-defects-my-property"
                    value="yes"
                  />
                  <span class="radio__emulator">
                    <svg class="radio__icon i-icon">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                  <span class="radio__label">причинен ущерб Вашему имуществу</span>
                </label>
                <div 
                  data-form-field-no-visible='{
                    "seller-purchase-verification-defects-my-property": ["no"]
                  }'
                  class="constructor__col--grow-2"
                >
                  <input
                    data-input-required
                    name="seller-purchase-verification-defects-my-property-description"
                    class="form-input"
                  />
                  <cite class="note">укажите какому имуществу причинен ущерб и в чем он выражается</cite>
                </div>
              </div>
            </div>
        </div>
        <div 
          data-form-field-no-visible='{
            "seller-purchase-verification-defects-my-property": ["no"]
          }'
          class="constructor__row"
        >
            <div class="constructor__col constructor__col--full">
              <div class="constructor__label-row constructor__label-cite">
                <div class="constructor__label-text">
                    Размер такого ущерба составляет
                </div>
                <div class="flex ga-12 items-center flex-grow-2">
                  <input
                    type="number"
                    data-input-required
                    name="seller-purchase-verification-defects-size"
                    class="form-input w-200px"
                  />
                  <span>руб.</span>
                </div>
              </div>
            </div>
        </div>
        <div class="constructor__row">
            <div class="constructor__col constructor__col--full">
              <div class="constructor__label-row constructor__label-cite">
                <div class="constructor__label-text">
                    Для установления причины выявленных недостатков, оценки ущерба Вы понесли расходы в размере
                </div>
                <div class="flex ga-12 items-center flex-grow-2">
                  <input
                    type="number"
                    data-input-required
                    name="seller-purchase-verification-defects-consts"
                    class="form-input w-200px"
                  />
                  <span>руб.</span>
                </div>
              </div>
            </div>
        </div>
        <div class="constructor__row">
            <div class="constructor__col constructor__col--full">
              <div class="constructor__label-row constructor__label-cite">
                <div class="constructor__label-text white-space-normal">
                    Претензия о возврате уплаченных за товар денежных средств, возмещении ущерба получена продавцом / доставлена на его адрес
                </div>
                <input
                  data-input-required
                  name="seller-purchase-verification-сlaim-address"
                  class="form-input w-200px"
                />
              </div>
            </div>
        </div>
        <b class="constructor__light-label">
            Данная претензия:
        </b>
        <div class="constructor__row">
            <div class="constructor__col constructor__col--full">
              <div class="constructor__flex-gap items-start">
                <label class="radio radio--lg">
                  <input
                    class="radio__input"
                    type="radio"
                    name="seller-purchase-verification-сlaim-type"
                    value="val1"
                    checked
                  />
                  <span class="radio__emulator">
                    <svg class="radio__icon i-icon">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                  <span class="radio__label">удовлетворена продавцом частично, а именно им выплачена</span>
                </label>
                <div 
                   data-form-field-visible='{
                    "seller-purchase-verification-сlaim-type": ["val1"]
                  }'
                  class="constructor__col--grow-2"
                >
                  <input
                    data-input-required
                    name="seller-purchase-verification-сlaim-expenses"
                    class="form-input"
                  />
                  <cite class="note">укажите какие расходы и в каком размере возместил продавец и чем являются выплаченные суммы</cite>
                </div>
              </div>
            </div>
        </div>
        <div class="constructor__row">
            <div class="constructor__col">
              <label class="radio radio--lg">
                <input
                  class="radio__input"
                  type="radio"
                  name="seller-purchase-verification-сlaim-type"
                  value="val2"
                  checked
                />
                <span class="radio__emulator">
                  <svg class="radio__icon i-icon">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
                <span class="radio__label">оставлена без удовлетворения</span>
              </label>
            </div>
        </div>
    </div>
</fieldset>