<div class="constructor__item" data-row>
    <legend class="h4 constructor__block-title">Введите данные следующего солидарного должника:</legend>

    <div class="constructor__row">
        <div class="constructor__col constructor__col--full">
            <label class="constructor__label-row">
                <span class="constructor__label-text">
                    Его полные ФИО:
                </span>
                <input type="text" class="form-input" data-input-required name="data-debtor-fio[]">
            </label>
        </div>
    </div>

    <div class="constructor__row">
        <div class="constructor__col constructor__col--desktop-md-full">
            <label class="constructor__label-row">
                <span class="constructor__label-text">
                    Дата рождения:
                </span>
                <input type="text" class="form-input w-340px" name="data-debtor-birthday[]">
            </label>
        </div>

        <div class="constructor__col constructor__col--grow-2">
            <label class="constructor__label-row">
                <span class="constructor__label-text">
                    Место рождения:
                </span>
                <input type="text" class="form-input" name="data-debtor-location-birthday[]">
            </label>
        </div>
    </div>

    <div class="constructor__row">
        <div class="constructor__col constructor__col--desktop-md-full">
            <label class="constructor__label-row">
                <span class="constructor__label-text">
                    ИНН:
                </span>
                <input type="text" class="form-input w-340px" name="data-debtor-inn[]">
            </label>
        </div>
    </div>

    <div class="constructor__row">
        <div class="constructor__col constructor__col--full">
            <label class="constructor__label-row">
                <span class="constructor__label-text">
                    Адрес его места жительства:
                </span>
                <input type="text" class="form-input" name="data-debtor-address[]">
            </label>
        </div>

        <button class="constructor__row-delete btn-toggle btn-toggle--delete w-full" data-btn-delete-row type="button">
            <span class="btn-toggle__icon"></span>
            <div class="btn-toggle__text">
                Удалить должника, если он добавлен ошибочно
            </div>
        </button>
    </div>
</div>