<div class="modal" id="modal-hint">
    <div class="modal__top">
        <h3 class="modal__heading h2">
        	<svg class="modal__heading-icon i-icon">
                <use href="#icon-info"></use>
            </svg>
            Подсказка
        </h3>
    </div>
    <div class="modal__body">
        <div class="modal__text">
            <p>
                Расчетные периоды (периоды рассрочки) в третьем поле в конце строки, за которые имеется бесспорная ДЗ, необходимо ПОМЕСЯЧНО указывать В ХРОНОЛОГИЧЕСКОМ ПОРЯДКЕ (например, за апрель 2020, за июнь 2020, за декабрь 2020, за январь 2021).
            </p>
            <p>
                При этом в указанном поле необходимо указывать только ОДИН оплачиваемый месячный период, а не несколько таких периодов.
            </p>
            <p>
                Название каждого месяца указывайте правильно, не допуская в нем ошибок (например, "июнь" вместо "июль", "май" вместо "март", "февраль" вместо "фивраль")
            </p>
            <p>
                Также помните, что если Вами выбрано составление заявления о выдаче судебного приказа, то вся взыскиваемая с дебитора сумма (основной долг + неустойка) за все указанные Вами в пункте 4 периоды не должна превышать в итоге 500 000,00 руб. 
            </p>
            <p>
                В таком случае, Вы можете составить одно (или несколько) заявлений о выдаче приказа за периоды, где сумма основного долга меньше 500 000,00 руб., а за периоды, в которых она превышает этот размер, Вы должны выбрать составление искового заявления.
            </p>

            <h4 class="h4 modal__subheading">
                Бесспорной ДЗ является ДЗ согласно:
            </h4>

            <ul class="list list--line">
                <li>
                    подписанным дебитором с Вами актам приема-передачи ТМЦ, иного имущества,
                </li>
                <li>
                    актам оказанных услуг, 
                </li>
                <li>
                    актам выполненных работ (в этих случаях бесспорная ДЗ составляет сумму акта, в отношении которой дебитором не заявлено претензий или разногласий).
                </li>
            </ul>
            <ul class="list list--line">
                <li>
                    подписанному дебитором с Вами графику платежей по договору займа,
                </li>
                <li>
                    договору выкупного лизинга, 
                </li>
                <li>
                    договору аренды с правом выкупа, 
                </li>
                <li>
                    иному соглашению, предусматривающему рассрочку оплаты.
                </li>
            </ul>
            <ul class="list list--line">
                <li>
                    подписанному дебитором с Вами расчету арендной платы,
                </li>
                <li>
                    расчету лизинговых платежей,
                </li>
                <li>
                    расчету по иному договору, предусматривающему различную оплату в зависимости от расчетного периода.
                </li>
            </ul>
            <ul class="list list--line">
                <li>
                    подписанному дебитором с Вами акту сверки взаимных расчетов по договору, раздел которого в редакции дебитора помесячно отражает сумму признаваемой им задолженности.
                </li>
            </ul>
            <ul class="list list--line">
                <li>
                    ДЗ за конкретный месяц и в конкретном размере по договору, подтвержденная дебитором в переписке с Вами, которую он обещает оплатить до определенной даты (времени).
                </li>
            </ul>
        </div>
    </div>
</div>