<div class="modal" id="modal-hint">
    <div class="modal__top">
        <h3 class="modal__heading h2">
        	<svg class="modal__heading-icon i-icon">
                <use href="#icon-info"></use>
            </svg>
            Подсказка
        </h3>
    </div>
    <div class="modal__body">
        <div class="modal__text">
            <p>
                Расчетные периоды (периоды рассрочки)  в третьем поле в конце строки, за которые имеется бесспорная ДЗ, необходимо ПОМЕСЯЧНО указывать В ХРОНОЛОГИЧЕСКОМ ПОРЯДКЕ (например, за апрель 2020, за июнь 2020, за декабрь 2020, за январь 2021).
            </p>
            <p>
                При этом в указанном поле необходимо указывать только ОДИН оплачиваемый месячный период, а не несколько таких периодов.
            </p>
            <p>
                Название каждого месяца указывайте правильно, не допуская в нем ошибок (например, "июнь" вместо "июль", "май" вместо "март", "февраль" вместо "фивраль")
            </p>
            <p>
                Также будьте внимательны при указании какая сумма, и за какой расчетный период (период рассрочки) оплачена Вашим дебитором, если одним платежным документом (платежным поручением, приходным кассовым ордером), оплата внесена за несколько периодов.
            </p>
            <b>
                Так, если платежным поручением от 05.03.2020 оплачено 500 000,00 руб., из которых 150 000,00 руб. назначено в оплату за январь 2020, 250 000,00 руб. – за февраль 2020, 100 000,00 руб. – за март 2020, то в январь, февраль и март Вы соответственно поставите оплату от 05.03.2020 в суммах 150 000,00 руб., 250 000,00 руб. и 100 000,00 руб.
            </b>
            <p>
                <b>
                    Аналогично, если оплата в один день произведена несколькими платежными поручениями, то вы суммируете оплату по всем платежкам и разбиваете ее на периоды, в которые оплата назначена дебитором. Затем вы ставите данную оплату за каждый из этих периодов один раз,
                </b>
                соответствующий дате списания денежных средств с расчетного счета дебитора.
            </p>
        </div>
    </div>
</div>