<div class="modal" id="modal-info-examples-docs">
    <div class="modal__top">
        <h3 class="modal__heading h2">
        	<svg class="modal__heading-icon i-icon">
                <use href="#icon-info"></use>
            </svg>
            Информация
        </h3>
    </div>
    <div class="modal__body">
        <div class="modal__text">
        	<p>
        		Судебная защита прав невозможна без устного выступления.
        	</p>
        	<p>
        		При этом судебный прецедент формируется на перевесе доводов одной из сторон, их логичности и убедительности для всех.
        	</p>
        	<p>
        		В связи с этим состязательность в процессе это прежде всего игра доводов, ведь на любую ситуацию можно посмотреть с разных сторон.
        	</p>
        	<p>
        		А доводы строятся на доказательствах и нормах права.
        	</p>
        	<p>
        		Можно ли счесть определенный факт доказанным преюдицией? Следуют ли из обстоятельств дела выводы суда?
        	</p>
        	<p>
        		А может, правовой вывод противоречит законодательству и судебной практике?
        	</p>
        	<p>
        		Что формирует эту практику?
        	</p>
        	<p>
        		Выводы судов в контексте добросовестности и других принципов оборота.
        	</p>
        	<p>
        		В этом разделе мы обобщили видеозаписи Высшего Арбитражного Суда РФ в разрезе отраслей процесса и материального права, сделав более удобным поиск аналогичных ситуаций по примерам практики.
        	</p>
        	<p>
        		Поскольку время определяет все, пустая его трата удаляет от результата.
        	</p>
        	<p>
        		В связи с чем здесь Вы быстро найдете позицию ВАС РФ по предмету своего спора (предмету оспаривания судебного акта).
        	</p>
        	<p>
        		Видео в привязке к постановлению позволяют понять ключевые спорные моменты спора, доводы его участников и сравнить их по итогу с ключевой правовой позицией ВАС РФ в постановлении Президиума.
        	</p>
        	<p>
        		В тексте надзорного постановления цветом разделены обстоятельства дела, выводы нижестоящих судов и ключевая правовая позиция ВАС РФ.
        	</p>
        	<p>
        		Аналогично проработан текст постановлений Конституционного Суда РФ (цветом разделены предмет обращения, выводы, ключевая правовая позиция).
        	</p>
        	<p>
        		После чего повторить доводы участников и использовать выводы высших судов по аналогии особого труда для Вас не составит.
        	</p>
        	<p>
        		Надеемся, что этот раздел позволит по другому посмотреть на свои доводы, понять глубже спорные моменты Вашего дела и обыграть выводы судов до того, как они появятся.
        	</p>
        	<p>
        		Стоимость одного часа работы в Видеотеке составляет 350 рублей. 
        	</p>
        	<p>
        		Вы можете оплатить один, два или три часа непрерывного доступа к Видеотеке.
        	</p>
        	<p>
        		После оплаты Вы можете перейти в Видеотеку.
        	</p>
        	<p>
        		Если остались еще вопросы, напишите о них на нашу <a href="mailto:info@mail.ru" class="link link--underline">электронную почту</a>. 
        	</p>
        	<p>
        		Ваше мнение очень важно для нас. Мы обязательно примем во внимание Ваши пожелания и учтем это в будущем. 
        	</p>
        </div>
    </div>
</div>