<div class="modal" id="modal-info-online-constructor">
	<div class="modal__top">
		<h3 class="modal__heading h2">
			<svg class="modal__heading-icon i-icon">
				<use href="#icon-info"></use>
			</svg>
			Информация
		</h3>
	</div>
	<div class="modal__body">
		<div class="modal__text">
			<p>
				Сегодня каждый предприниматель сталкивается с неплатежами, просрочками или убытками со стороны контрагентов. 
			</p>
			<p>
				И чтобы такие случайные обстоятельства не являлись чем-то большим чем временным явлением, предлагаем Вам следующий порядок работы с проблемными контрагентами:
			</p>
			<p>
				<strong>- 1)</strong> исходя из выбранного Вами варианта в пункте 3 или 3.12 будет подобрана <i>актуальная практика Верховного Суда РФ</i> и составлено <strong>нужное исковое заявление</strong>,
			</p>
			<p>
				а) чтобы при этом расходы по уплате госпошлины (она может составлять от 10 тыс. до 10 млн.) были для Вас минимальными рекомендуем 
			</p>
			<p>
				не заявлять все свои требования в иске сразу, а расчитать их в пределах 100 тыс. или 1 млн. руб. ,
			</p>
			<p>
				б) а чтобы ускоренно получить свою задолженность или возместить убытки,
			</p>
			<p>
				+ перенести с себя на ответчиков бремя доказывания <i>кто из них надлежащий</i>
			</p>
			<p>
				рекомендуем привлекать соответчиками <i>(солидарными должниками)</i>: законных владельцев имущества, конечных заказчиков / фактических исполнителей или др. лиц, прямо задействованных в спорной ситуации на стороне вашего контрагента
			</p>
			<p>
				(<i>например, ими могут быть</i> собственник и арендатор при возмещении стоимости потребленного энергоресурса, 
			</p>
			<p>
				заказчик и генподрядчик в возмещении стоимости фактически выполненных работ, 
			</p>
			<p>
				собственник и субарендодатель в возмещении неотделимых улучшений арендованного имущества, и т.д.)
			</p>
			<p>
				<strong>- 2)</strong> а после того как иск будет принят судом заявленные в нем требования рекомендуем <strong>уточнить до нужного Вам размера</strong>
			</p>
			<p>
				(тогда вся госпошлина, <i>как уплаченная при подаче иска, так и не уплаченная при его увеличении</i> будет взыскана с вашего контрагента).
			</p>
			<p>
				Для взыскания ваших расходов по оплате наших услуг мы составляем договор на оказание юр. услуг и подписанным со своей стороны направляем Вам, 
			</p>
			<p>
				а Вы подписав такой договор можете им обосновать несение таких расходов и взыскать их при рассмотрении иска.
			</p>
			<p>
				А после выдачи судом исполнительного листа (на взысканную иском просрочку или убытки), 
			</p>
			<p>
				рекомендуем его не отдавать сразу судебным приставам, а попробовать получить взысканные суммы быстрее - 
			</p>
			<p>
				предъявляя испол. лист в платежные дни, когда должник перечисляет зарплату или налоги (с 10 по 13 числа + с 25 по 28 числа),
			</p>
			<p>
				сразу в известные банки по очереди, в которых у должника возможно открыты счета (Сбербанк, Альфабанк, ВТБ, Газпромбанк и т.д.),
			</p>
			<p>
				а при отсутствии в них счетов должника или средств на них -  отдавая испол лист судебным приставам (для направления в Т-Банк не имеющий отделений, или для ареста + продажи иного имущества должника). 
			</p>
			<p>
				Узнать где у должника открыты р/счета можно обратившись в его налоговую инспекцию <i>(учитывающую его как налогоплательщика)</i>. 
			</p>
			<p>
				Если Вам требуется ускоренно взыскать задолженность или убытки, напишите нам на почту 
				<strong>
					<a href="mailto:arbitr.counsil@gmail.com" style="color: #0000ff;">
						arbitr.counsil@gmail.com
					</a>
				</strong>
				, чтобы нам с Вами обсудить детали. 
			</p>
		</div>
	</div>
</div>