<div class="modal" id="modal-info-online-constructor">
	<div class="modal__top">
		<h3 class="modal__heading h2">
			<svg class="modal__heading-icon i-icon">
				<use href="#icon-info"></use>
			</svg>
			Информация
		</h3>
	</div>
	<div class="modal__body">
		<div class="modal__text">
			<p>
				Предлагаем взыскание просроченной задолженности <i><b>индивидуально под ваши требования.</b></i>
			</p>
			<p>
				И поскольку потребители (не все) сегодня помимо того что неплатят, но и отменяют судебные приказы (далее - с/приказы) и заявляют о пропуске исковой давности,
			</p>
			<p>
				предлагаем следующий механизм взыскания по-умному - ускоренно и с экономией на оплате госпошлины, при котором
			</p>
			<p>
				ваши расходы по уплате гос. пошлины за выдачу отмененного с/приказа (в размере 2 000 руб.) оплатит тот (собственник) кто его отменил -
			</p>
			<p>
				за счет взыскания с него пени или задолженности за новые периоды (без уплаты гос. пошлины за увеличение иск. требований):
			</p>
			<p>
				- 1) сперва задолженность взыскиваем с/приказом,
			</p>
			<p>
				указывая по адресной справке ответчиками - собственника + совершеннолетних членов его семьи <i>(солидарных должников)</i>
			</p>
			<p>
				чтобы ускорить взыскание просрочки <i>(взыскивая ее со всех в полной сумме за счет средств на их счетах / картах).</i>
			</p>
			<p>
				- 2) затем, если кто-то из должников отменил с/приказ <i>(об отмене просит не каждый)</i>, ту же задолженность что и в с/приказе заявляем иском в районный / городской суд,
			</p>
			<p>
				- 3) на первом заседании по делу исковые требования увеличиваем по текущую дату без доплаты гос. пошлины,
			</p>
			<p>
				которая вся <i>(как 4 000 руб. уплаченной за подачу иска, так и неуплаченная при увеличении иск. требований)</i> будет взыскана с должников.
			</p>
			<p>
				Для взыскания ваших расходов по оплате наших услуг мы составляем договор на оказание юр. услуг и подписанным со своей стороны направляем Вам,
			</p>
			<p>
				а Вы подписав такой договор можете им обосновать несение таких расходов и взыскать их при рассмотрении иска
			</p>
			<p>
				(поскольку возмещение юр. услуг при выдаче с/приказа законом не предусмотрено, их возмещение возможно за счет пени, взыскиваемой этим же приказом).
			</p>
			<p>
				Чтобы предлагаемый вариант был для Вас выгодным <i>(ваши расходы на наши услуги перекрывались пеней с должника)</i> необходимо
			</p>
			<p>
				чтобы с/приказ был выдан на сумму задолженности от <b><i>5 500</i></b> руб., начисленной за <i>5 месяцев</i>, за первый из которых она была просрочена <i>еще на один месяц</i>).
			</p>
			<p>
				Однако, чтобы перекрыть пеней 2 000 руб. госпошлины за отмененный с/приказ требуется просрочка от 18 месяцев <i>(исходя из начисления задолженности по 1 100 руб. в месяц).</i>
			</p>
			<p>
				поэтому такие ваши расходы следует перекрывать пеней (насколько можно) и задолженностью (в остатке).
			</p>
			<p>
				Если же с/приказ не отменялся или был выдан исполнительный лист (на взысканную иском просрочку),
			</p>
			<p>
				рекомендуем его не отдавать сразу судебным приставам, а попробовать получить взысканные суммы <b>намного</b> быстрее <i>при известности ИНН должника</i> -
			</p>
			<p>
				предъявляя с/приказ или испол. лист в дни, когда должник предположительно получает зарплату / пенсию (с 10 по 13 числа + с 25 по 28 числа),
			</p>
			<p>
				сразу в известные банки по очереди, в которых у должника возможно открыты счета (Сбербанк, Альфабанк, ВТБ, Газпромбанк и т.д.),
			</p>
			<p>
				а при отсутствии в них счетов должника или средств на них - отдавая с/приказ или испол лист судебным приставам (для направления в Т-Банк не имеющий отделений, либо на работу должника / Соцфонд России для удержания его зар. платы или пенсии).
			</p>
			<p>
				Если же Вам <i>не известен ИНН должника / некоторых солидарных должников</i>, то с/приказ или испол. лист следует отдать суд. приставам,
			</p>
			<p>
				чтобы они в рамках возбужденного испол. производства запросили сами ИНН должников в ФНС,
			</p>
			<p>
				после чего Вы, забрав с/приказ или испол. лист у суд. приставов отдаете его в известные банки - не ограничиваясь по сумме списания средств со счетов должника прожиточным минимумом или иным законно установленным лимитом,
			</p>
			<p>
				а в случае картотеки на счете должника, в т.ч. по причине в его отношении сводного испол. производства, отдаете свой испол. документ назад суд. приставам.
			</p>
			<p>
				И в случае картотеки или сводного испол. производства, банкротства должника взыскание через суд с этого должника новой задолженности за следующие периоды Вы <i>не проводите</i>
			</p>
			<p>
				пока с солидарного с ним должника не поступят взысканные с них денежные суммы -
			</p>
			<p>
				- так Вы оплачиваете гос. пошлину для взыскания в суде задолженности только с должников, которые платят принудительно - компенсируя ваши расходы,
			</p>
			<p>
				и не копите безнадежную задолженность, с которой затем платите налоги, - т.к. не ставите ее на бух учет, поскольку она не подтверждена суд. актами.
			</p>
			<p>
				В этом и заключается взыскание по умному - ускоренно и с должников, у которых на счетах есть денежные средства.
			</p>
			<p>
				<i>А если должником является - организация или ИП, советы как взыскать просрочку быстрее <a href="/claims-constructor.html" style="color: #0000ff">см. в Информации по ссылке</a></i>
			</p>
			<p>
				Если Вам требуется ускоренно взыскать коммунальную или кредитную задолженность, напишите нам на почту
				<strong>
					<a href="mailto:arbitr.counsil@gmail.com" style="color: #0000ff;">
						arbitr.counsil@gmail.com
					</a>
				</strong>
				<i> для согласования технических условий сотрудничества.</i>
			</p>
		</div>
	</div>
</div>
