<div class="modal" id="modal-info-examples-docs">
    <div class="modal__top">
        <h3 class="modal__heading h2">
        	<svg class="modal__heading-icon i-icon">
                <use href="#icon-info"></use>
            </svg>
            Информация
        </h3>
    </div>
    <div class="modal__body">
        <div class="modal__text">
        	<p>
        		Сегодня каждый из нас сталкивается с необходимостью защиты своих прав в административном или судебном порядке. 
        	</p>
        	<p>
        		При этом способов защиты бывает много: как процессуально-процедурных, так и материально-правовых.
        	</p>
        	<p>
        		Каждый способ имеет свои специфику и функционал.
        	</p>
        	<p>
        		В связи с этим в этом разделе Вы можете попробовать сами написать по образцу заявление (жалобу) в арбитражный суд, заменяя указанные  в образце наименование сторон и 3 лиц, наименование суда и номер дела, обстоятельства дела (для удобства они указаны курсивом) на свои.
        	</p>
        	<p>
        		Также в своем заявлении (жалобе) Вы сами определяете предмет своего требования (его нормативно-правовое обоснование). 
        	</p>
        	<p>
        		Для удобства пример изложения нормативно-правового обоснования в образце указан строчным шрифтом (не курсивом).
        	</p>
        	<p>
        		Готовое свое заявление (жалобу) Вы печатаете строчным шрифтом или пишете понятной прописью.
        	</p>
        	<p>
        		После подписания заявления (жалобы) Вы подаете его с приложением (при наличии) в арбитражный суд нарочно или по Моему арбитру. 
        	</p>
        	<p>
        		При этом учитывайте, что Вы несете риск ошибки в определении того правового обоснования своего интереса (позиции по делу), которое Вы укажете в своем заявлении (жалобе).
        	</p>
        	<p>
        		Для удобства образцы содержат описание некоторых часто возникающих реальных споров, их правовое обоснование изложено кратко, но с сохранением сути довода и полного понимания его смысла. 
        	</p>
        	<p>
        		Просим принять во внимание, что любые совпадения с реальными лицами, их представителями в образцах процессуальных документов случайны. 
        	</p>
        	<p>
        		Также Вы сможете понять существо состязательного процесса, прочитав диалог в документе «Стратегия процессуальной защиты или как выиграть время по проигрышному делу, а также как победить без шансов на победу».
        	</p>
        	<p>
        		Если Вы готовы попробовать свои силы самим защитить свои права, то в Таблице приведена стоимость скачивания образца каждого из документов и указанной Стратегии.
        	</p>
        	<p>
        		После оплаты документ (за исключением предоставляемого бесплатно) будет доступен Вам для скачивания.
        	</p>
        	<p>
        		Помните, результат зависит от стратегии защиты, понятности и логичности Ваших доводов в заявлении (жалобе), аргументированности устного изложения Вашей позиции в суде.
        	</p>
        	<p>
        		Поэтому, если не уверены в своих силах, лучше не рисковать.
        	</p>
        	<p>
        		Если остались еще вопросы Вы можете их задать по телефону или написав на <a href="mailto:info@mail.ru" class="link link--underline">электронную почту</a>. 
        	</p>
        	<p>
        		Желаем Вам успеха в решении своих вопросов и проблем!
        	</p>
        </div>
    </div>
</div>