<div class="offer-small">
    <div class="offer-small__title">
        Покупайте выгодно!
    </div>

    <div class="offer-small__items">
        <div class="offer-small__item">
            <a href="#" class="offer-small__item-link">СОСТАВИТЬ  <br /> исковое заявление <span>за 999 руб.</span></a>
            <div class="offer-small__item-title">
                Возможность указания в заявлении нескольких солидарных должников
            </div>
        </div>

        <div class="offer-small__item">
            <a href="#" class="offer-small__item-link">ВЫНЕСТИ <br /> судебный приказ <span>за 339 руб.</span></a>
            <div class="offer-small__item-title">
                Расчет пени / процентов <br /> по ст. 395 ГК РФ
            </div>
        </div>
    </div>
</div>