<div class="table table--diff">
    <div class="table__top">
        <div class="table__col">
            <div class="table__num">
                №
            </div>
        </div>
        <div class="table__col">
            Название документа
        </div>
        <div class="table__col">
            <div class="table__col-row">
                Стоимость
            </div>
        </div>
    </div>

    

    <details class="table__block details" open>
        <summary>
            <h4 class="details__label h4">
                Участие во всех инстанциях по некоторым категориям споров
            </h4>
        </summary>

        
            <a href="./templates/buy-doc-modal.html" class="popup-modal-ajax table__item">
                <span class="table__col">
                    <span class="table__num">
                        1
                    </span>
                </span>
                <span class="table__col">
                    Составление заявления о признании должника банкротом
                </span>
                <span class="table__col">
                    <span class="table__col-row">
                        <span class="table__price">
                            от 6 000 руб.
                        </span>
                    </span>
                </span>
            </a>
        
    </details>
</div>