<div class="modal modal--entire modal--form" id="video-library-entire-modal">
    <div class="modal__top">
        <h3 class="modal__heading h2">
            Войти в видеотеку
        </h3>
    </div>

    <div class="modal__body">
        <form class="modal__form form" data-form  data-ajax-error-form="./templates/error-modal.html">
            <div class="form-row">
                <div class="form-col">
                    <label for="entire-email">Электронная почта</label>
                    <input id="entire-email" name="entire-email" type="email" class="form-input" data-input-required="email">
                </div>
            </div>
            <div class="form-row">
                <div class="form-col">
                    <label for="entire-password">Пароль</label>
                    <input id="entire-password" name="entire-password" type="password" class="form-input" data-input-required>
                </div>
            </div>
            <div class="form-row form-row--confirm">
                <div class="form-col">
                    <button class="btn" type="submit">Войти</button>
                </div>
            </div>
        </form>
    </div>
</div>